.robot-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70vh;
  z-index: 1;
  pointer-events: none;
  opacity: 0.9;
}

.tech-bg {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 2rem;
  border-radius: 16px;
  background: rgba(10, 10, 20, 0.8);
  box-shadow: 0 0 20px #00f0ff, 0 0 40px #00e0ff, 0 0 60px #00c0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 10;
}

.login-container h2 {
  white-space: nowrap;
  font-size: 3.2rem;
  color: #00f0ff;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1em;

  font-family: "Orbitron", sans-serif;
  font-weight: 300;

  background: linear-gradient(90deg, #00f0ff, #ffffff, #00f0ff);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  letter-spacing: 0.2em;

  text-shadow: 0 0 1px #000, 0 0 3px #0ff, 0 0 6px #0ff, 0 0 12px #00f0ff,
    0 0 24px #00e0ff, 0 0 36px #00c0ff, 0 0 48px #00a0ff, 0 0 60px #0080ff,
    0 0 80px #0050ff, 0 0 100px #0020ff;

  animation: flickerText 5s infinite;
}

@keyframes flickerText {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.85;
  }
  80%,
  90% {
    opacity: 0.7;
  }
}

.login-form {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background: #111;
  color: #00f0ff;
  font-size: 1rem;
  outline: none;
  box-shadow: inset 0 0 5px #00f0ff;
  transition: box-shadow 0.3s ease;
}

.login-form input:focus {
  box-shadow: 0 0 8px #00f0ff, 0 0 16px #00c0ff;
}

.signup-prompt {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}

.signup-prompt button {
  margin-top: 0.5rem;
}

.create-account-wrap {
  margin-top: 1rem;
}

.create-account-btn {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  text-align: center;
}
